body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --drop-menu-menu: Poppins;
  --font-vujahday-script: "Vujahday Script";
  --subtitle-2-unbold: Roboto;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-4xs-3: 8.3px;
  --font-size-sm-5: 13.5px;
  --font-size-xl-7: 20.7px;
  --font-size-mini: 15px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-3xs: 10px;
  --font-size-base-4: 16.4px;
  --font-size-6xl-1: 25.1px;
  --font-size-3xl-9: 22.9px;
  --font-size-lg: 18px;
  --drop-menu-menu-size: 12px;
  --small-size-body-regular-size: 14px;

  /* Colors */
  --color-gray-100: #fffefc;
  --color-gray-200: #8f9098;
  --color-gray-300: #8e8e8b;
  --color-gray-400: #212225;
  --color-gray-500: rgba(255, 255, 255, 0);
  --gray-white: #fff;
  --color-aliceblue-100: #f4fbff;
  --light-color-blue: #ecf8ff;
  --color-aliceblue-200: #e8ebf1;
  --color-darkslateblue: #2e356d;
  --line-enable: #e5e7f0;
  --color-lavender-100: #d1edff;
  --color-cornflowerblue-100: #86a6e7;
  --color-cornflowerblue-200: #668cd9;
  --blue-blue-500: #2196f3;
  --primary-enable: #01a2f9;
  --color-cornflowerblue-300: #4d73bf;
  --primary-focused: #0095e6;
  --color-cornflowerblue-400: rgba(102, 140, 217, 0.09);
  --color-darkgray-100: #a7a7a7;
  --text-light: #a0a5b6;
  --color-steelblue-100: #5473b5;
  --color-steelblue-200: #0670b5;
  --color-midnightblue: #003399;
  --color-whitesmoke-100: #f7f7f7;
  --background-enable: #f5f7fa;
  --color-whitesmoke-200: #f6f6f6;
  --grey-light: #f5f5f5;
  --text-medium: #494e50;
  --color-darkslategray-100: #484848;
  --system-dark: #3b4256;
  --grey-grey-800: #424242;
  --color-darkslategray-200: #3a3d3f;
  --black: #313144;
  --color-darkslategray-300: rgba(59, 61, 66, 0.53);
  --color-slategray-100: #757580;
  --color-slategray-200: #6c757d;
  --color-slategray-300: rgba(117, 117, 128, 0.09);
  --color-lightsteelblue: #caceeb;
  --secondary-dark-color: #54595e;
  --dark-medium: #4f4f4f;
  --color-dimgray-100: rgba(84, 89, 94, 0.6);
  --color-silver-100: #c7c8d7;
  --color-silver-200: #bdc0cc;
  --color-silver-300: #b4c4ce;
  --color-silver-400: #bcbcbc;
  --color-silver-500: #b9b9b9;
  --color-lightgray: #cfd1d9;
  --color-orangered: #d00a0a;
  --color-darkkhaki: #a6ad48;
  --color-olive: #737a14;
  --color-black: #000;
  --color-gainsboro-100: #e6e6e6;
  --grey-medium: #e5e5e5;
  --stroke-light: #dee2e6;
  --color-gainsboro-200: #d9d9d9;
  --color-lightskyblue: #9ec5fe;
  --color-cadetblue: #17a2b8;
  --color-darkblue: #162bc8;
  --color-mediumslateblue: #3d52ed;

  /* Gaps */
  --gap-0: 0px;
  --gap-smi-4: 12.4px;
  --gap-smi: 13px;
  --gap-43xl: 62px;
  --gap-96xl: 115px;
  --gap-12xl: 31px;
  --gap-xl: 20px;
  --gap-16xl: 35px;
  --gap-6xs: 7px;
  --gap-base: 16px;
  --gap-23xl: 42px;
  --gap-6xl-5: 25.5px;
  --gap-329xl: 348px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-71xl: 90px;
  --gap-13xl: 32px;
  --gap-3xs: 10px;
  --gap-lgi: 19px;
  --gap-base-6: 16.6px;
  --gap-4xl: 23px;
  --gap-mini: 15px;
  --gap-28xl: 47px;
  --gap-4xs-7: 8.7px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-14xl: 33px;
  --padding-4xl: 23px;
  --padding-xs-1: 11.1px;
  --padding-11xl: 30px;
  --padding-xs-9: 11.9px;
  --padding-7xl-4: 26.4px;
  --padding-8xs-9: 4.9px;
  --padding-11xs-5: 1.5px;
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-smi: 13px;
  --padding-2xl: 21px;
  --padding-142xl: 161px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-9xs: 4px;
  --padding-40xl: 59px;
  --padding-9xl: 28px;
  --padding-sm: 14px;
  --padding-2xs: 11px;
  --padding-5xl: 24px;
  --padding-7xl: 26px;
  --padding-base: 16px;
  --padding-6xl: 25px;
  --padding-9xs-6: 3.6px;
  --padding-7xs: 6px;
  --padding-12xs: 1px;
  --padding-12xs-4: 0.4px;
  --padding-20xl: 39px;
  --padding-15xl-4: 34.4px;
  --padding-11xs-6: 1.6px;
  --padding-10xs-5: 2.5px;
  --padding-4xs: 9px;
  --padding-3xs-5: 9.5px;
  --padding-lgi-5: 19.5px;
  --padding-53xl-5: 72.5px;
  --padding-8xl: 27px;
  --padding-10xl-5: 29.5px;
  --padding-140xl: 159px;
  --padding-4xl-3: 23.3px;
  --padding-4xs-6: 8.6px;
  --padding-15xl-8: 34.8px;
  --padding-4xl-2: 23.2px;
  --padding-17xl: 36px;
  --padding-16xl: 35px;
  --padding-6xs: 7px;
  --padding-2xs-9: 10.9px;
  --padding-11xs-9: 1.9px;
  --padding-base-3: 15.3px;
  --padding-2xl-1: 21.1px;
  --padding-27xl: 46px;
  --padding-26xl-9: 45.9px;
  --padding-mini-5: 14.5px;
  --padding-9xs-5: 3.5px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-mid-1: 17.1px;
  --padding-32xl: 51px;
  --padding-116xl: 135px;
  --padding-18xl: 37px;
  --padding-69xl: 88px;
  --padding-7xs-1: 5.1px;
  --padding-7xs-2: 5.2px;
  --padding-4xs-3: 8.3px;
  --padding-4xs-2: 8.2px;
  --padding-smi-5: 12.5px;
  --padding-sm-5: 13.5px;
  --padding-21xl: 40px;
  --padding-10xl: 29px;
  --padding-sm-2: 13.2px;
  --padding-sm-8: 13.8px;
  --padding-44xl-5: 63.5px;
  --padding-29xl: 48px;
  --padding-5xl-6: 24.6px;
  --padding-28xl: 47px;
  --padding-6xl-5: 25.5px;
  --padding-lgi-6: 19.6px;
  --padding-35xl: 54px;
  --padding-145xl: 164px;
  --padding-33xl: 52px;
  --padding-6xl-3: 25.3px;
  --padding-xs-8: 11.8px;
  --padding-163xl-8: 182.8px;
  --padding-48xl-7: 67.7px;
  --padding-14xl-7: 33.7px;
  --padding-31xl: 50px;
  --padding-8xs-5: 4.5px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-161xl: 180px;
  --br-xs: 12px;
  --br-xl: 20px;
  --br-base-3: 15.3px;
  --br-3xs: 10px;
  --br-6xl: 25px;
  --br-7xs: 6px;
  --br-10xl: 29px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-10xs: 3px;

  /* Effects */
  --shadow-small: 0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 20px 20px rgba(0, 0, 0, 0.08);
  --bootstrap-regular: 0px 8px 16px rgba(0, 0, 0, 0.15);
  --bootstrap-focused: 0px 0px 0px 3.2px rgba(32, 162, 232, 0.25);
}
