.account-name {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 2;
}
.account-name-wrapper {
  width: 241px;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-40xl);
  box-sizing: border-box;
}
.material-symbolsdashboard-icon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 28px;
}
.dashboard {
  flex: 1;
  position: relative;
}
.rectangle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
  gap: 0 15px;
  color: var(--color-darkslateblue);
}
.icon-park-solidappointment {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.appointment {
  flex: 1;
  position: relative;
}
.leave-review-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
  gap: 0 15px;
}
.fluentform-new-28-filled-icon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.onsite-form {
  flex: 1;
  position: relative;
}
.div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
  gap: 0 15px;
}
.eos-iconscluster-management {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.patient-management {
  flex: 1;
  position: relative;
}
.account-management-frame {
  align-self: stretch;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: 0 15px;
}
.icsharp-history-icon {
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.transaction-history {
  height: 66px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.dashboard-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 9px;
}
.mdiaccount-cog-icon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.account-management {
  flex: 1;
  position: relative;
}
.dashboard-frame1 {
  align-self: stretch;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: 0 15px;
}
.iconoirreports-solid {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reports-and-analytics {
  flex: 1;
  position: relative;
}
.dashboard-frame2,
.logout-button-frame {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboard-frame2 {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
  gap: 0 15px;
}
.logout-button-frame {
  flex-direction: column;
  gap: 31px 0;
}
.material-symbolslogout-icon {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logout {
  height: 35px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.logout-button-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  gap: 0 15px;
}
.div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-cornflowerblue-300);
  box-shadow: 0 10px 12px #daddb1;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.date-text {
  position: absolute;
  top: 223px;
  left: 27px;
  background-color: var(--gray-white);
  width: 281px;
  height: 58px;
  z-index: 2;
}
.mingcuteuser-4-fill-icon {
  position: absolute;
  top: 65px;
  left: 114.5px;
  width: 96px;
  height: 96px;
  overflow: hidden;
  z-index: 2;
}
.user-fill-frame {
  width: 308px;
  height: 966px;
  position: absolute;
  margin: 0 !important;
  top: -238px;
  left: -42px;
}
.account-name-text,
.logout-button-frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-button-frame-parent {
  width: 236px;
  flex: 1;
  position: relative;
  gap: 115px 0;
  z-index: 3;
  font-size: var(--font-size-xl);
}
.account-name-text {
  position: absolute;
  top: 131px;
  left: 0;
  width: 281px;
  height: 949px;
  padding: var(--padding-142xl) var(--padding-mini) var(--padding-mid);
  box-sizing: border-box;
  gap: 62px 0;
}
.b,
.mdiinternet-icon {
  position: relative;
  flex-shrink: 0;
}
.mdiinternet-icon {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.b {
  height: 58px;
  display: inline-block;
}
.admin-dashboard-text,
.mdiinternet-parent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-2xl) 0 0;
}
.admin-dashboard-text,
.mdiinternet-parent {
  flex-direction: row;
}
.admin-dashboard-text {
  padding: 0 var(--padding-smi);
}
.todays-appointments {
  align-self: stretch;
  height: 23px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.admin-dashboard,
.div2 {
  position: absolute;
  left: 320px;
}
.div2 {
  top: 233px;
  background-color: var(--color-cornflowerblue-300);
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: 13px 0;
  font-size: var(--font-size-29xl);
}
.admin-dashboard {
  top: 181px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-darkslateblue);
  display: inline-block;
  width: 206px;
  height: 33px;
}
.frame-child {
  height: 100%;
  width: 1947px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -27px;
  bottom: 0;
  background-color: var(--color-cornflowerblue-300);
  box-shadow: 0 1px 10px 2px #000;
}
.frame-item {
  height: 77px;
  width: 243px;
  position: relative;
  border-radius: var(--br-161xl);
  background-color: var(--gray-white);
  display: none;
}
.image-3-icon {
  height: 66.2px;
  width: 64.2px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.dental-clinic,
.sweet-tooth {
  position: absolute;
  left: 3.1px;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.sweet-tooth {
  top: 0;
  font-family: var(--font-vujahday-script);
  width: 97.8px;
  height: 28.7px;
}
.dental-clinic {
  top: 19.1px;
  font-size: var(--font-size-sm-5);
  width: 101.6px;
  height: 20.6px;
}
.your-smile-is {
  position: relative;
  font-weight: 300;
  white-space: nowrap;
  z-index: 1;
}
.your-smile-is-our-concern-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs-5);
}
.frame-inner {
  align-self: stretch;
  height: 0;
  position: relative;
  border-top: 0.4px solid var(--color-darkgray-100);
  box-sizing: border-box;
  z-index: 1;
  margin-top: -0.4px;
}
.frame-parent {
  position: absolute;
  top: 36.7px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-4xs-3);
}
.sweet-tooth-parent {
  align-self: stretch;
  height: 49.3px;
  position: relative;
}
.frame-wrapper,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 4.899999999999977px 0 0;
}
.rectangle-group {
  height: 77.2px;
  width: 243px;
  border-radius: var(--br-161xl);
  background-color: var(--gray-white);
  flex-direction: row;
  padding: 11.100000000000025px var(--padding-11xl) 11.899999999999975px
    26.40000000000009px;
  box-sizing: border-box;
  gap: var(--gap-smi-4);
  z-index: 1;
}
.sunday-february-xx {
  margin: 0;
  align-self: stretch;
  height: 54px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent,
.sunday-february-xx-xxxx-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sunday-february-xx-xxxx-wrapper {
  width: 548px;
  flex-direction: column;
  padding: 23.19999999999999px 0 0;
  font-size: var(--font-size-13xl);
  color: var(--gray-white);
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-14xl) var(--padding-4xl) 34.80000000000001px;
  gap: 0 743px;
  text-align: left;
  font-size: var(--font-size-xl-7);
  color: var(--color-steelblue-200);
  font-family: var(--drop-menu-menu);
}
.time-000000-am {
  position: absolute;
  top: 56.2px;
  left: 1605px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 366px;
  height: 54px;
  white-space: nowrap;
  z-index: 1;
}
.todays-transaction {
  flex: 1;
  position: relative;
}
.ritimer-2-fill-icon {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.date-today-text,
.transaction-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.date-today-text {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.transaction-row {
  width: 324px;
  top: 0;
  left: 0;
  flex-direction: row;
}
.appointment-table,
.date-today,
.transaction-row {
  position: absolute;
  margin: 0 !important;
}
.date-today {
  width: 158px;
  top: 0;
  left: 1417px;
  display: inline-block;
}
.appointment-table {
  height: 5px;
  width: 1566px;
  top: 33px;
  left: 0;
  background-color: var(--color-cornflowerblue-300);
}
.primary-component,
.text {
  color: var(--color-darkslateblue);
}
.primary-component {
  position: absolute;
  top: 420px;
  left: 320px;
  width: 1575px;
  height: 38px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 1085px;
  font-size: var(--font-size-5xl);
}
.text {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: center;
}
.cell,
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  flex: 1;
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.text1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
}
.cell1,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  flex: 1;
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.text2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
}
.cell2,
.content2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  flex: 1;
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.appointment-cell-content {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
}
.cell3,
.content3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  flex: 1;
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.dental-clinic-cell {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
}
.cell4,
.content4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content4 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  flex: 1;
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
  z-index: 1;
}
.todays-transaction-cell {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
}
.cell5,
.content5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  flex: 1;
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.sample-cell-content {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 130%;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  text-align: center;
}
.content6 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell6,
.content6,
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  flex: 1;
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.row {
  width: 1564px;
  overflow: hidden;
  flex-direction: row;
}
.sample {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell7,
.content7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content7 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell7 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line,
.p {
  margin: 0;
}
.sample1 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell8,
.content8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content8 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell8 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.sample2 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell9,
.content9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content9 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell9 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line1,
.juan-dela-cruz {
  margin: 0;
}
.sample3 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell10,
.content10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content10 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell10 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line2,
.p1 {
  margin: 0;
}
.sample4 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell11,
.content11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content11 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell11 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
  z-index: 1;
}
.blank-line3,
.p2 {
  margin: 0;
}
.sample5 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell12,
.content12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content12 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell12 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.sample6 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.content13 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell13,
.content13,
.row1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell13 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.row1 {
  width: 1564px;
  overflow: hidden;
  flex-direction: row;
}
.blank-line4,
.p002 {
  margin: 0;
}
.sample7 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell14,
.content14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content14 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell14 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line5,
.p3 {
  margin: 0;
}
.sample8 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell15,
.content15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content15 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell15 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line6,
.p0021 {
  margin: 0;
}
.sample9 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell16,
.content16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content16 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell16 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line7,
.blank-line8,
.blank-line9,
.juan-dela-cruz1 {
  margin: 0;
}
.sample10 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell17,
.content17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content17 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell17 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line10,
.blank-line11,
.blank-line12,
.p4 {
  margin: 0;
}
.sample11 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell18,
.content18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content18 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell18 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
  z-index: 1;
}
.blank-line13,
.blank-line14,
.blank-line15,
.p5 {
  margin: 0;
}
.sample12 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell19,
.content19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content19 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell19 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line16,
.p6 {
  margin: 0;
}
.sample13 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.content20 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell20,
.content20,
.row2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell20 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.row2 {
  width: 1564px;
  overflow: hidden;
  flex-direction: row;
}
.blank-line17,
.p003 {
  margin: 0;
}
.sample14 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell21,
.content21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content21 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell21 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line18,
.p7 {
  margin: 0;
}
.sample15 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell22,
.content22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content22 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell22 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line19,
.p0031 {
  margin: 0;
}
.sample16 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell23,
.content23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content23 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell23 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line20,
.blank-line21,
.blank-line22,
.juan-dela-cruz2 {
  margin: 0;
}
.sample17 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell24,
.content24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content24 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell24 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line23,
.blank-line24,
.blank-line25,
.p8 {
  margin: 0;
}
.sample18 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell25,
.content25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content25 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell25 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
  z-index: 1;
}
.blank-line26,
.blank-line27,
.blank-line28,
.p9 {
  margin: 0;
}
.sample19 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell26,
.content26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content26 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell26 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line29,
.p10 {
  margin: 0;
}
.sample20 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.content27 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell27,
.content27,
.row3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell27 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.row3 {
  width: 1564px;
  overflow: hidden;
  flex-direction: row;
}
.blank-line30,
.p004 {
  margin: 0;
}
.sample21 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell28,
.content28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content28 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell28 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line31,
.p11 {
  margin: 0;
}
.sample22 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell29,
.content29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content29 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell29 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line32,
.p0041 {
  margin: 0;
}
.sample23 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell30,
.content30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content30 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell30 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line33,
.blank-line34,
.blank-line35,
.juan-dela-cruz3 {
  margin: 0;
}
.sample24 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell31,
.content31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content31 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell31 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line36,
.blank-line37,
.blank-line38,
.p12 {
  margin: 0;
}
.sample25 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell32,
.content32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content32 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell32 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
  z-index: 1;
}
.blank-line39,
.blank-line40,
.blank-line41,
.p13 {
  margin: 0;
}
.sample26 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell33,
.content33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content33 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell33 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line42,
.p14 {
  margin: 0;
}
.sample27 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.content34 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell34,
.content34,
.row4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell34 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.row4 {
  width: 1564px;
  overflow: hidden;
  flex-direction: row;
}
.blank-line43,
.p005 {
  margin: 0;
}
.sample28 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell35,
.content35 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content35 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell35 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line44,
.p15 {
  margin: 0;
}
.sample29 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell36,
.content36 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content36 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell36 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line45,
.p0051 {
  margin: 0;
}
.sample30 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell37,
.content37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content37 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell37 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line46,
.blank-line47,
.blank-line48,
.juan-dela-cruz4 {
  margin: 0;
}
.sample31 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell38,
.content38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content38 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell38 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line49,
.blank-line50,
.blank-line51,
.p16 {
  margin: 0;
}
.sample32 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell39,
.content39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content39 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell39 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
  z-index: 1;
}
.blank-line52,
.blank-line53,
.blank-line54,
.p17 {
  margin: 0;
}
.sample33 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell40,
.content40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content40 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell40 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line55,
.p18 {
  margin: 0;
}
.sample34 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.content41 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell41,
.content41,
.row5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell41 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.row5 {
  width: 1564px;
  overflow: hidden;
  flex-direction: row;
}
.blank-line56,
.p006 {
  margin: 0;
}
.sample35 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell42,
.content42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content42 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell42 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line57,
.p19 {
  margin: 0;
}
.sample36 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell43,
.content43 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content43 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell43 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line58,
.p0061 {
  margin: 0;
}
.sample37 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell44,
.content44 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content44 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell44 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line59,
.blank-line60,
.blank-line61,
.juan-dela-cruz5 {
  margin: 0;
}
.sample38 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell45,
.content45 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content45 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell45 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line62,
.blank-line63,
.blank-line64,
.p20 {
  margin: 0;
}
.sample39 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell46,
.content46 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content46 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell46 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
  z-index: 1;
}
.blank-line65,
.blank-line66,
.blank-line67,
.p21 {
  margin: 0;
}
.sample40 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.cell47,
.content47 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content47 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell47 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.blank-line68,
.p22 {
  margin: 0;
}
.sample41 {
  height: 41px;
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.content48 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell48 {
  flex: 1;
  background-color: var(--color-gray-500);
  border-right: 1px solid var(--color-darkslateblue);
  flex-direction: column;
}
.cell48,
.row6,
.table,
.transaction {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row6 {
  width: 1564px;
  overflow: hidden;
  flex-direction: row;
}
.table,
.transaction {
  flex-direction: column;
  max-width: 100%;
}
.table {
  width: 1566px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-white);
  border: 1px solid #ebf3f8;
  box-sizing: border-box;
  overflow-x: auto;
  mix-blend-mode: multiply;
}
.transaction {
  position: absolute;
  top: 483px;
  left: 320px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-inter);
}
.admin-account-dashboard {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--gray-white);
  font-family: var(--drop-menu-menu);
}
@media screen and (max-width: 1200px) {
  .rectangle-parent {
    gap: 0 371px;
  }
}
@media screen and (max-width: 1050px) {
  .b {
    font-size: var(--font-size-19xl);
  }
  .time-000000-am {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent {
    gap: 0 186px;
  }
}
@media screen and (max-width: 450px) {
  .account-management,
  .appointment,
  .dashboard,
  .logout,
  .onsite-form,
  .patient-management,
  .reports-and-analytics,
  .transaction-history {
    font-size: var(--font-size-base);
  }
  .b {
    font-size: var(--font-size-10xl);
  }
  .admin-dashboard {
    font-size: var(--font-size-base);
  }
  .rectangle-parent {
    gap: 0 93px;
  }
  .date-today,
  .time-000000-am,
  .todays-transaction {
    font-size: var(--font-size-lgi);
  }
  .appointment-cell-content,
  .dental-clinic-cell,
  .sample,
  .sample-cell-content,
  .sample1,
  .sample10,
  .sample11,
  .sample12,
  .sample13,
  .sample14,
  .sample15,
  .sample16,
  .sample17,
  .sample18,
  .sample19,
  .sample2,
  .sample20,
  .sample21,
  .sample22,
  .sample23,
  .sample24,
  .sample25,
  .sample26,
  .sample27,
  .sample28,
  .sample29,
  .sample3,
  .sample30,
  .sample31,
  .sample32,
  .sample33,
  .sample34,
  .sample35,
  .sample36,
  .sample37,
  .sample38,
  .sample39,
  .sample4,
  .sample40,
  .sample41,
  .sample5,
  .sample6,
  .sample7,
  .sample8,
  .sample9,
  .text,
  .text1,
  .text2,
  .todays-transaction-cell {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
}
